
/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
  }
  
 
  #p1 {
      text-align: left;
      margin-left: 200px;
      margin-right: 200px;
  }

  #p2 {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}
  
  section {
  }
  
  #left {
    padding: 20px;
    margin-bottom: 20px;
    color:white;
    background: #666;
    width: 150px;
    
    
  }
   
  
  #full {
     padding: 70px;
     margin-bottom: 20px;
     margin-top: 20px;
     background:lightgray;
     margin-left: 200px ;
     margin-right: 200px;

 }  
  #division1 {
    position: absolute;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background:#888;
  }

  #division2 {
    position: absolute;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background:#888;
  }

  #division3 {
    position: absolute;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background:#999;
    float:right;
  }
  
  
